---
import Layout from "../../layouts/Layout.astro";
import AdminPanelIsland from "../../components/AdminPanelIsland.tsx";
---

<Layout title="Panel de administración - EnMiPueblo">
  <section class="py-10 md:py-16">
    <AdminPanelIsland client:load />
  </section>
</Layout>
