---
import Layout from "../../layouts/Layout.astro";
import AdminPanelServiciosIsland from "../../components/AdminPanelServiciosIsland.tsx";
---

<Layout title="Admin" noindex={true}>
  <section class="min-h-screen py-10">
    <AdminPanelServiciosIsland client:only="react" />
  </section>
</Layout>
